/* ============================================================= */
/* FONT TYPES
/* ============================================================= */

@font-face
{
    font-family:"Ballet";
    src: url(../Fonts/Ballet/Ballet_16pt-Regular.ttf),
        url(../Fonts/Ballet/Ballet_16pt-Regular.eot),
        url(../Fonts/Ballet/Ballet_16pt-Regular.otf);
}

@font-face
{
    font-family:"OpenSans";
    src: url(../Fonts/OpenSans/OpenSans-Regular.ttf),
        url(../Fonts/OpenSans/OpenSans-Regular.eot),
        url(../Fonts/OpenSans/OpenSans-Regular.otf);
}

@font-face
{
    font-family:"Raleway";
    src: url(../Fonts/Raleway/Raleway-ExtraLight.ttf),
        url(../Fonts/Raleway/Raleway-ExtraLight.eot),
        url(../Fonts/Raleway/Raleway-ExtraLight.otf);
}

/* ============================================================= */
/* GENERAL CONFIGURATION
/* ============================================================= */

header, section, nav, main, footer, aside, address, circle, line
{
    display: block;
}

body
{
    background-image: url(../Images/Background.png);
}

#wrap
{
    width: 80%;
    margin: 0 auto;
}

header, main, footer
{
    box-shadow: 7px 7px 15px #c5c5c5ff;
    background: rgba(255, 255, 255, 0.6);
}

main div section div p svg path.transparency
{
    opacity: 0.5;
    fill: #ffffff;
}

main div section div p svg
{
    float: left;
    width: 70px;
    height: 70px;
    margin: 0px 15px 15px 0px;
}
main div section div p svg defs linearGradient#gradient stop.up,
main div section div p svg defs linearGradient#gradient stop.down
{
    stop-opacity:1;
}
main div section div p svg g rect
{
    opacity: 1;
    fill: url(#applyGradient);
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
}
main div section div p svg path
{
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
}
main div section div p svg path.square
{
    opacity: 1;
}
main div section div p svg text
{
    font-style: normal;
    font-weight: normal;
    font-size: 35.44423294px;
    line-height: 1.25;
    font-family: sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;  
    fill-opacity: 1;
    stroke: none;
}
main div section div p svg text tspan
{
    text-align: center;
    text-anchor: middle;
    stroke-width: 0;
}

/* ============================================================= */
/* HEADER: Capitulated
/* ============================================================= */

header section
{
    width: 100%;
    margin-top: 25px;
    border-bottom-style: solid;
    border-bottom-color: #e7e8e8ff;
    border-bottom-width: 1px;
    background-position: right;
    background-repeat: repeat-y;
    background-size: 44%;
}

header section pre
{
    font-family: "Ballet";
    font-size: 90px;
    display: inline;
    padding: 15px 0px 15px 35px;
    margin: 0;
}

header section p
{
    font-family: "Raleway";
    font-size: 40px;
    display: inline;
}

header section label
{
    font-family: "Raleway";
    font-size: 40px;
    display: inline;
    padding-left: 25px;
}

/* ============================================================= */
/* HEADER: Menu
/* ============================================================= */

header div
{
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 3px;
    padding: 0;
    margin: 0;
}

header div nav
{
    height: 37px;
    padding: 11px 0 0 0;
    width: 100%;
}

header div nav ul
{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

header div nav li
{
    display: inline;
    padding: 0;
    margin: 0;
}

header div nav a
{
    color: black;
    font-size: 20px;
    font-family: "Raleway";
    text-decoration: none;
    padding: 12px 35px 12px 35px;
    margin: 0;
    transition: background 1s;
}

header div nav .selected
{
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.menu.blue
{
    border-top-color: #0078d7ff;
    border-bottom-color: #0078d7ff;
}
.menu.green
{
    border-top-color: #5DE62C;
    border-bottom-color: #5DE62C;
}
.menu.pink
{
    border-top-color: #FC17E2;
    border-bottom-color: #FC17E2;
}
.menu.orange
{
    border-top-color: #FFBB52;
    border-bottom-color: #FFBB52;
}
.menu.purple
{
    border-top-color: #C425B2;
    border-bottom-color: #C425B2;
}

.menu.blue:hover
{
    background-color: #0078d7ff;
    transition: background 0s;
}
.menu.green:hover
{
    background-color: #5DE62C;
    transition: background 0s;
}
.menu.pink:hover
{
    background-color: #FC17E2;
    transition: background 0s;
}
.menu.orange:hover
{
    background-color: #FFBB52;
    transition: background 0s;
}
.menu.purple:hover
{
    background-color: #C425B2;
    transition: background 0s;
}

/* ============================================================= */
/* FOOTER
/* ============================================================= */

footer
{
    padding: 0;
    width: 100%;
    margin: 35px 0 35px 0;
    background: black;
}
footer div section
{
    width: 35%;
    display: table;
    float: left;
}
footer div picture
{
    width: 28%;
    display: table;
    float: left;
    text-align: center;
}
footer div picture img
{
    margin: 15px 0 0 0;
    padding: 0;
    width: 125px;
}
footer div aside
{
    width: 35%;
    display: table;
    float: right;
    text-align: right;
}
footer div section p, footer div section p a, footer div aside p
{
    margin: 0;
    padding: 15px 25px 0 25px;
    font-family: "OpenSans";
    font-size: 15px;
}
footer div section p img, footer div aside p img
{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 0px 7px 0px 7px;
}
footer div section p a[postion="left"], footer div aside p a
{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
footer line img
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 5px;
}
footer div.normal-screen
{
    display: initial;
}
footer div.small-screen
{
    display: none;
}

/* ============================================================= */
/* CLASS: colour-blue
/* ============================================================= */

.colour-blue circle,
.colour-blue footer div picture img,
.colour-blue footer div section p img, .colour-blue footer div aside p img
{
    background-color: #0078d7ff;
}
.colour-blue main div section pre, .colour-blue main div section a, .colour-blue main div h2,
.colour-blue footer div section p, .colour-blue footer div aside p, .colour-blue footer div section a, .colour-blue footer div aside a,
.colour-blue main div aside div h2, .colour-blue main div section div h2, .colour-blue main div aside div h3, .colour-blue main div section div h3
{
    color: #0078d7ff;
}
.colour-blue line
{
    border-bottom-color: rgba(0, 118, 215, 0.308);
}

.colour-blue main div section div p svg defs linearGradient#gradient stop.up
{
    stop-color:#0078d7ff;
}
.colour-blue main div section div p svg defs linearGradient#gradient stop.down
{
    stop-color:rgb(2, 81, 146);
}
.colour-blue main div section div p svg path.square
{
    fill: rgb(0, 46, 83);
}
.colour-blue main div section div p svg text,
.colour-blue main div section div p svg text tspan
{
    fill: rgb(71, 172, 255);
}

/* ============================================================= */
/* CLASS: colour-green
/* ============================================================= */

.colour-green circle,
.colour-green footer div picture img,
.colour-green footer div section p img, .colour-green footer div aside p img
{
    background-color: #5DE62C;
}
.colour-green main div section pre, .colour-green main div section a, .colour-green main div h2,
.colour-green footer div section p, .colour-green footer div aside p, .colour-green footer div section a, .colour-green footer div aside a,
.colour-green main div aside div h2, .colour-green main div section div h2, .colour-green main div aside div h3, .colour-green main div section div h3
{
    color: #5DE62C;
}
.colour-green line
{
    border-bottom-color: #5ee62c6e;
}

.colour-green main div section div p svg defs linearGradient#gradient stop.up
{
    stop-color:#5DE62C;
}
.colour-green main div section div p svg defs linearGradient#gradient stop.down
{
    stop-color:#43a021;
}
.colour-green main div section div p svg path.square
{
    fill: rgb(35, 87, 16);
}
.colour-green main div section div p svg text,
.colour-green main div section div p svg text tspan
{
    fill: #cdffba;
}

/* ============================================================= */
/* CLASS: colour-pink
/* ============================================================= */

.colour-pink circle,
.colour-pink footer div picture img,
.colour-pink footer div section p img, .colour-pink footer div aside p img
{
    background-color: #FC17E2;

}
.colour-pink main div section pre, .colour-pink main div section a, .colour-pink main div h2,
.colour-pink footer div section p, .colour-pink footer div aside p, .colour-pink footer div section a, .colour-pink footer div aside a,
.colour-pink main div aside div h2, .colour-pink main div section div h2, .colour-pink main div aside div h3, .colour-pink main div section div h3
{
    color: #FC17E2;
}
.colour-pink line
{
    border-bottom-color: #fc17e12d;
}

.colour-pink main div section div p svg defs linearGradient#gradient stop.up
{
    stop-color:#FC17E2;
}
.colour-pink main div section div p svg defs linearGradient#gradient stop.down
{
    stop-color:#be11aa;
}
.colour-pink main div section div p svg path.square
{
    fill: #700c64;
}
.colour-pink main div section div p svg text,
.colour-pink main div section div p svg text tspan
{
    fill: #ffcbf9;
}

/* ============================================================= */
/* CLASS: colour-orange
/* ============================================================= */

.colour-orange circle,
.colour-orange footer div picture img,
.colour-orange footer div section p img, .colour-orange footer div aside p img
{
    background-color: #FFBB52;
}
.colour-orange main div section pre, .colour-orange main div section a, .colour-orange main div h2,
.colour-orange footer div section p, .colour-orange footer div aside p, .colour-orange footer div section a, .colour-orange footer div aside a,
.colour-orange main div aside div h2, .colour-orange main div section div h2, .colour-orange main div aside div h3, .colour-orange main div section div h3
{
    color: #FFBB52;
}
.colour-orange line
{
    border-bottom-color: #ffba5271;
}

.colour-orange main div section div p svg defs linearGradient#gradient stop.up
{
    stop-color:#FFBB52;
}
.colour-orange main div section div p svg defs linearGradient#gradient stop.down
{
    stop-color:#ad792b;
}
.colour-orange main div section div p svg path.square
{
    fill: #634314;
}
.colour-orange main div section div p svg text,
.colour-orange main div section div p svg text tspan
{
    fill: #fae5c4;
}

/* ============================================================= */
/* CLASS: colour-purple
/* ============================================================= */

.colour-purple circle,
.colour-purple footer div picture img,
.colour-purple footer div section p img, .colour-purple footer div aside p img
{
    background-color: #C425B2;
}
.colour-purple main div section pre, .colour-purple main div section a, .colour-purple main div h2,
.colour-purple footer div section p, .colour-purple footer div aside p, .colour-purple footer div section a, .colour-purple footer div aside a,
.colour-purple main div aside div h2, .colour-purple main div section div h2, .colour-purple main div aside div h3, .colour-purple main div section div h3
{
    color: #C425B2;
}
.colour-purple line
{
    border-bottom-color: #c425b256;
}

.colour-purple main div section div p svg defs linearGradient#gradient stop.up
{
    stop-color:#C425B2;
}
.colour-purple main div section div p svg defs linearGradient#gradient stop.down
{
    stop-color:#961d88;
}
.colour-purple main div section div p svg path.square
{
    fill: #581050;
}
.colour-purple main div section div p svg text,
.colour-purple main div section div p svg text tspan
{
    fill: #ff9ef4;
}

/* ============================================================= */
/* CLASS: colour-grey
/* ============================================================= */

.colour-grey circle,
.colour-grey footer div picture img,
.colour-grey footer div section p img, .colour-grey footer div aside p img
{
    background-color: grey;
}
.colour-grey main div section pre, .colour-grey main div section a, .colour-grey main div h2,
.colour-grey footer div section p, .colour-grey footer div aside p, .colour-grey footer div section a, .colour-grey footer div aside a,
.colour-grey main div aside div h2, .colour-grey main div section div h2, .colour-grey main div aside div h3, .colour-grey main div section div h3
{
    color: grey;
}
.colour-grey line
{
    border-bottom-color: rgba(128, 128, 128, 0.288);
}

.colour-grey main div section div p svg defs linearGradient#gradient stop.up
{
    stop-color:grey;
}
.colour-grey main div section div p svg defs linearGradient#gradient stop.down
{
    stop-color:rgb(97, 97, 97);
}
.colour-grey main div section div p svg path.square
{
    fill: rgb(56, 56, 56);
}
.colour-grey main div section div p svg text,
.colour-grey main div section div p svg text tspan
{
    fill: rgb(190, 190, 190);
}

/* ============================================================= */
/* CLASS: golden-ratio
/* ============================================================= */

.golden-ratio header section
{
    background-image: url(../Images/Header-Golden-Ratio.png);
}
.golden-ratio.alternate-header header section
{
    background-image: url(../Images/Header-HobbiesInterests.png);
}
.golden-ratio header section label
{
    color: #C425B2;
}

.golden-ratio main div
{
    margin-top: 35px;
    overflow: auto;
}
.golden-ratio main div aside
{
    width: 37.5%;
    float: left;
    border-right-style: solid;
    border-right-color: #e7e8e8ff;
    border-right-width: 1px;
}
.golden-ratio main div section
{
    width: 62%;
    float: left;
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 4px;
}
.golden-ratio main div aside:after
{
    content: "";
    display: table;
    padding-bottom: 164.5%;
}
.golden-ratio main div section:after
{
    content: "";
    display: table;
    padding-bottom: 99.5%;
}

.golden-ratio main div aside div, .golden-ratio main div section div
{
    float: left;
    width: 100%;
    margin: 0;
    text-align: center;
    overflow: initial;
}
.golden-ratio main div aside div h2, .golden-ratio main div section div h2,
.golden-ratio main div aside div h3, .golden-ratio main div section div h3
{
    padding-top: 15px;
    font-family: "OpenSans";
    font-style: normal;
    font-size: 19px;
}
.golden-ratio main div aside div nav
{
    text-align: left;
    height: 37px;
    padding: 11px 0 0 0;
    display: initial;
}
.golden-ratio main div aside div nav ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
.golden-ratio main div aside div nav li
{
    padding: 2px;
    margin: 0;
}
.golden-ratio main div aside div nav a
{
    color: black;
    font-size: 20px;
    font-family: "Raleway";
    text-decoration: none;
    padding: 12px 35px 12px 35px;
    margin: 0;
    transition: background 1s;
    display: block;
}
.golden-ratio main div aside div a img
{
    margin-top: 8%;
    box-shadow: 7px 7px 15px #c5c5c5ff;
    width: 80%;
}
.golden-ratio main div aside div nav a img
{
    width: 30px;
    vertical-align: middle;
    margin: 0px 20px 0px 0px;
    box-shadow: none;
}

.golden-ratio main div section div p
{
    font-family: "OpenSans";
    font-size: 17px;
    margin: 0;
    padding: 0px 35px 0px 35px;
    line-height: 1.7;
    text-align: left;
}
.golden-ratio main div section div p label
{
    display: none;
}
.golden-ratio main div section div p a, .golden-ratio main div section div a
{
    text-decoration: none;
}
.golden-ratio main div section div h1
{
    font-family: "Raleway";
    font-size: 75px;
    font-weight: normal;
}
.golden-ratio main div section div picture img
{
    width: 20%;
    display: inline;
    padding: 0;
    margin: 25px;
    vertical-align: middle;
}
.golden-ratio main div section div h4
{
    display: block;
    margin: 75px 0px 0px 0px;
    font-family: "Ballet";
    font-size: 50px;
    font-weight: normal;
}
.golden-ratio main div section div h5
{
    display: block;
    margin: 0px 0px 75px 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: normal;
}

/* ============================================================= */
/* CLASS: three-columns
/* ============================================================= */

.three-columns header section
{
    background-image: url(../Images/Header-Photographies.png);
}
.three-columns header section label
{
    color: #5DE62C;
}

.three-columns main
{
    margin-top: 35px;
}
.three-columns main div
{
    overflow: auto;
    width: 100%;
}
.three-columns main div div
{
    float: left;
    width: 30%;
}
.three-columns main div div alternate
{
    display: none;
}
.three-columns main div div img, .three-columns main div aside img,
.three-columns main div div a img, .three-columns main div aside a img
{
    width: 100%;
}

.three-columns main div section
{
    float: left;
    width: 39%;
}
.three-columns main div section div
{
    width: 95%;
    padding: 0px 20px 0px 20px;
}
.three-columns main div section div h2
{
    font-family: "OpenSans";
    font-style: normal;
    font-size: 19px;
    padding: 0px;
    margin-bottom: 2px;
}
.three-columns main div section div h3
{
    margin-top: 2px;
}
.three-columns main div section div h3 a
{
    font-family: "OpenSans";
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.three-columns main div section div p
{
    font-family: "OpenSans";
    font-size: 17px;
    margin: 0;
    padding: 0px;
    line-height: 1.7;
    text-align: left;
}
.three-columns main div section div p label
{
    display: none;
}
.three-columns main div section div p a
{
    text-decoration: none;
    font-style: normal;
}

.three-columns main div aside
{
    float: right;
    width: 30%;
}

/* ============================================================= */
/* CLASS: professional
/* ============================================================= */

.professional header section
{
    background-image: url(../Images/Header-Professional.png);
}
.professional header section label
{
    color: #0078d7ff;
}

.professional main address
{
    width: 100%;
    margin-top: 35px;
    background: linear-gradient(rgb(53, 53, 53), rgb(0, 0, 0));
    text-align: center;
    padding: 10px 0 10px 0;
}
.professional main address a
{
    text-decoration: none;
}
.professional main address a, .professional main address p
{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "OpenSans";
    font-style: normal;
    font-size: 18px;
    line-height: 1.7;
}
.professional main div
{
    padding: 35px;
}
.professional main div:after
{
    content: "";
    display: table;
    clear: both;
}
.professional main div section span
{
    width: 100%;
    display: table;
    text-align: center;
}
.professional main div section span img, .professional main div section span a img
{
    width: 40%;
    margin-bottom: 25px;
}
.professional main div section
{
    width: 25%;
    display: table;
    float: left;
}
.professional main div div
{
    padding: 8px 25px 0 0;
    display: table;
    float: left;
}
.professional main div div circle
{
    border-radius: 50%;
    height: 12px;
    width: 12px;
    float: right;
    display: table;
}
.professional main div aside
{
    width: 70%;
    display: table;
    float: left;
}
.professional main div section p, .professional main div aside p
{
    font-family: "OpenSans";
    font-size: 17px;
    margin: 0;
    padding: 0;
    line-height: 1.7;
}
.professional main div section pre
{
    font-family: "OpenSans";
    font-style: italic;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.professional main div h2
{
    font-family: "OpenSans";
    font-size: 19px;
}
.professional main line
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.professional main div section pre a, .professional main div aside p a
{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.professional main div aside p a
{
    color: black;
}

/* ============================================================= */
/* CLASS: windows
/* ============================================================= */

.windows header section
{
    background-image: url(../Images/Header-Copyright.png);
}
.windows header section label
{
    color: gray;
}

.windows main h1
{
    margin-top: 35px;
    margin-bottom: 0px;
    background: #6badf6ff;
    border-top: #5284bcff;
    border-left: #5284bcff;
    border-right: #5284bcff;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    padding: 0;
}
.windows main h1:after
{
    content: "";
    display: table;
    clear: both;
}
.windows main h1 picture
{
    display: table;
    float: left;
}
.windows main h1 picture img
{
    padding: 5px 0 0 5px;
    width: 25px;
    height: 25px;
}
.windows main h1 label
{
    padding-left: 20px;
    display: table;
    float: left;
}
.windows main h1 label p
{
    font-family: "OpenSans";
    font-weight:normal;
    font-size: 16px;
    text-align: center;
    padding: 7px 0 7px 0;
    margin: 0;
}
.windows main h1 section
{
    padding: 0;
    margin: 0;
    display: table;
    float: right;
}
.windows main h1 section p
{
    background-color: #c75050ff;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 4px 0 0 0;
    height: 23px;
    width: 56px;
    text-align: center;
}
.windows main h1 div
{
    border: black;
    border-width: 1px;
    border-style: solid;
    border-top-width: 4px;
    margin: 7px 20px 0 0;
    width: 12px;
    height: 6px;
    display: inline;
    float: right;
}
.windows main h1 aside
{
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    margin: 8px 20px 0 0;
    width: 15px;
    height: 6px;
    display: inline;
    float: right;
}

.windows main h2
{
    margin: 0;
    background: #6badf6ff;
    border-left: #5284bcff;
    border-right: #5284bcff;
    border-left-width: 1px;
    border-right-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    padding: 5px 5px 0 5px;
}
.windows main h2 section
{
    background-color: #f5f6f7ff;
    border-style: solid;
    border-width: 1px;
    border-color: #5284bcff;
    padding: 5px 0 5px 0;
}
.windows main h2 section p
{
    margin: 0;
    padding-left: 20px;
    display: inline;
    font-family: "OpenSans";
    font-weight: normal;
    font-size: 14px;
}

.windows main article
{
    margin: 0;
    background: #6badf6ff;
    border-left: #5284bcff;
    border-right: #5284bcff;
    border-bottom: #5284bcff;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    padding: 0 5px 5px 5px;
}
.windows main article section
{
    height: 350px;
    overflow: auto;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #5284bcff;
    padding: 5px 0 5px 0;
}
.windows main article section p
{
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "OpenSans";
    font-size: 14px;
}
.windows main article section img
{
    vertical-align: middle;
    display: inline;
    width: 55px;
    padding: 0px 20px 0px 20px;
}

/* ============================================================= */
/* Responsive settings
/* ============================================================= */

@media screen and (max-width: 1649px)
{

    /* ============================================================= */
    /* GENERAL CONFIGURATION
    /* ============================================================= */

    #wrap
    {
        width: 85%;
    }

    main div section div p svg
    {
        width: 60px;
        height: 60px;
        margin: 0px 13px 13px 0px;
    }

    /* ============================================================= */
    /* HEADER: Capitulated
    /* ============================================================= */

    header section pre
    {
        font-size: 80px;
        padding: 13px 0px 13px 30px;
    }

    header section p, header section label
    {
        font-size: 37px;
    }

    /* ============================================================= */
    /* HEADER: Menu
    /* ============================================================= */

    header div nav
    {
        height: 32px;
    }

    header div nav a
    {
        font-size: 17px;
        padding: 10px 35px 10px 35px;
    }

    /* ============================================================= */
    /* CLASS: golden-ratio
    /* ============================================================= */

    .golden-ratio main div aside div h2, .golden-ratio main div section div h2,
    .golden-ratio main div aside div h3, .golden-ratio main div section div h3
    {
        padding-top: 13px;
        font-size: 16px;
    }

    .golden-ratio main div section div h1
    {
        font-size: 65px;
        margin: 30px 0px 30px 0px;
    }

    .golden-ratio main div aside div nav a
    {
        font-size: 18px;
        padding: 12px 35px 12px 35px;
    }

    .golden-ratio main div section div p
    {
        font-size: 15px;
        padding: 0px 25px 0px 25px;
        line-height: 1.7;
    }

    .golden-ratio main div section div h4
    {
        margin: 55px 0px 0px 0px;
        font-size: 45px;
    }
    .golden-ratio main div section div h5
    {
        margin: 0px 0px 55px 0px;
        font-size: 15px;
    }

    /* ============================================================= */
    /* CLASS: three-columns
    /* ============================================================= */

    .three-columns main div div
    {
        width: 27%;
    }
    .three-columns main div section
    {
        width: 44%;
    }
    .three-columns main div section div p
    {
        font-size: 14px;
    }
    .three-columns main div aside
    {
        width: 27%;
    }
    .three-columns main div section div h2
    {
        font-size: 17px;
        margin-bottom: 0px;
    }
    .three-columns main div section div h3
    {
        font-size: 12px;
        margin-top: 0px;
    }

    main div section div p svg
    {
        margin: 0px 13px 7px 0px;
    }

    /* ============================================================= */
    /* CLASS: professional
    /* ============================================================= */

    .professional main address a, .professional main address p
    {
        font-size: 16px;
    }
    .professional main div section p, .professional main div aside p
    {
        font-size: 16px;
    }
    .professional main div section pre
    {
        font-size: 11px;
    }

    /* ============================================================= */
    /* CLASS: windows
    /* ============================================================= */

    .windows main h1
    {
        height: 26px;
    }
    .windows main h1 picture img
    {
        width: 20px;
        height: 20px;
        padding: 5px 0 5px 5px;
    }
    .windows main h1 label p
    {
        font-size: 14px;
        padding: 5px 0 5px 0;
    }
    .windows main h1 section p
    {
        font-size: 14px;
        padding: 3px 0 0 0;
        height: 20px;
        width: 50px;
    }

    .windows main h2 section
    {
        padding: 0px 0 3px 0;
    }
    .windows main h2 section p
    {
        margin: 0;
        padding-left: 20px;
        display: inline;
        font-family: "OpenSans";
        font-weight: normal;
        font-size: 13px;
    }

    .windows main article section
    {
        height: 300px;
    }
    .windows main article section p
    {
        font-size: 12px;
    }
}

@media screen and (max-width: 1279px)
{

    /* ============================================================= */
    /* GENERAL CONFIGURATION
    /* ============================================================= */

    #wrap
    {
        width: 95%;
    }

    main div section div p svg
    {
        width: 55px;
        height: 55px;
        margin: 0px 7px 7px 0px;
    }

    /* ============================================================= */
    /* HEADER: Capitulated
    /* ============================================================= */

    header section pre
    {
        font-size: 70px;
        padding: 13px 0px 13px 25px;
    }

    header section p, header section label
    {
        font-size: 33px;
    }

    /* ============================================================= */
    /* CLASS: golden-ratio
    /* ============================================================= */

    .golden-ratio main div aside
    {
        width: 37%;
    }
    .golden-ratio main div aside div h2, .golden-ratio main div section div h2,
    .golden-ratio main div aside div h3, .golden-ratio main div section div h3
    {
        padding-top: 7px;
        font-size: 15px;
    }
    .golden-ratio main div aside div h3, .golden-ratio main div section div h3
    {
        margin: 7px;
    }

    .golden-ratio main div section div h1
    {
        font-size: 55px;
        margin: 20px 0px 20px 0px;
    }

    .golden-ratio main div section div p
    {
        font-size: 14px;
    }

    .golden-ratio main div section div h4
    {
        margin: 30px 0px 0px 0px;
    }
    .golden-ratio main div section div h5
    {
        margin: 0px 0px 30px 0px;
        font-size: 13px;
    }

    /* ============================================================= */
    /* CLASS: three-columns
    /* ============================================================= */

    .three-columns main div section div p
    {
        line-height: 1.5;
    }

    /* ============================================================= */
    /* CLASS: professional
    /* ============================================================= */

    .professional main address a, .professional main address p
    {
        font-size: 15px;
    }
    .professional main div section p, .professional main div aside p
    {
        font-size: 15px;
    }
}

@media screen and (max-width: 1023px)
{

    /* ============================================================= */
    /* GENERAL CONFIGURATION
    /* ============================================================= */

    main div section div p svg
    {
        width: 30px;
        height: 30px;
        margin: 0px;
    }

    /* ============================================================= */
    /* HEADER: Capitulated
    /* ============================================================= */

    header section pre
    {
        font-size: 60px;
    }

    header section p, header section label
    {
        font-size: 28px;
    }

    /* ============================================================= */
    /* HEADER: Menu
    /* ============================================================= */

    header div nav
    {
        height: 32px;
    }

    header div nav a
    {
        font-size: 17px;
        padding: 10px 25px 10px 25px;
    }

    /* ============================================================= */
    /* FOOTER
    /* ============================================================= */

    footer div section
    {
        width: 37%;
    }
    footer div picture
    {
        width: 25%;
    }
    footer div aside
    {
        width: 37%;
    }
    footer div section p, footer div section p a, footer div aside p
    {
        font-size: 14px;
    }

    /* ============================================================= */
    /* CLASS: golden-ratio
    /* ============================================================= */

    .golden-ratio main div aside div h2, .golden-ratio main div section div h2,
    .golden-ratio main div aside div h3, .golden-ratio main div section div h3
    {
        font-size: 14px;
    }

    .golden-ratio main div section div h1
    {
        font-size: 45px;
        margin: 15px 0px 10px 0px;
    }

    .golden-ratio main div aside div nav a
    {
        font-size: 16px;
        padding: 7px 35px 7px 35px;
    }

    .golden-ratio main div section div p
    {
        font-size: 13px;
        padding: 0px 25px 0px 25px;
        line-height: 1.5;
    }

    .golden-ratio main div section div h4
    {
        font-size: 35px;
    }

    /* ============================================================= */
    /* CLASS: three-columns
    /* ============================================================= */

    .three-columns main div div
    {
        width: 27%;
    }
    .three-columns main div section
    {
        width: 44%;
    }
    .three-columns main div section div p
    {
        font-size: 13px;
    }
    .three-columns main div aside
    {
        width: 27%;
    }
    .three-columns main div section div h2
    {
        font-size: 14px;
        margin-bottom: 0px;
    }
    .three-columns main div section div h3
    {
        margin-top: 0px;
        margin-bottom: 3px;
    }
    .three-columns main div section div h3 a
    {
        font-size: 11px;
    }

    main div section div p svg
    {
        margin: 0px 10px 7px 0px;
    }

    /* ============================================================= */
    /* CLASS: professional
    /* ============================================================= */

    .professional main div section pre
    {
        font-size: 11px;
    }

    /* ============================================================= */
    /* CLASS: windows
    /* ============================================================= */

    .windows main h1
    {
        height: 26px;
    }
    .windows main h1 picture img
    {
        width: 20px;
        height: 20px;
        padding: 5px 0 5px 5px;
    }
    .windows main h1 label p
    {
        font-size: 14px;
        padding: 5px 0 5px 0;
    }
    .windows main h1 section p
    {
        font-size: 14px;
        padding: 3px 0 0 0;
        height: 20px;
        width: 50px;
    }

    .windows main h2 section
    {
        padding: 0px 0 3px 0;
    }
    .windows main h2 section p
    {
        margin: 0;
        padding-left: 20px;
        display: inline;
        font-family: "OpenSans";
        font-weight: normal;
        font-size: 13px;
    }

    .windows main article section
    {
        height: 300px;
    }
    .windows main article section p
    {
        font-size: 12px;
    }
}

@media screen and (max-width: 899px)
{
    /* ============================================================= */
    /* GENERAL CONFIGURATION
    /* ============================================================= */

    #wrap
    {
        width: 95%;
    }

    main div section div p svg
    {
        float: left;
        width: 70px;
        height: 70px;
        margin: 0px 15px 15px 0px;
    }

    /* ============================================================= */
    /* HEADER: Capitulated
    /* ============================================================= */

    header section
    {
        background-size: 50%;
    }

    header section pre
    {
        font-size: 70px;
    }

    header section p
    {
        font-size: 30px;
        display: inline;
    }

    header section label
    {
        font-size: 30px;
        padding-left: 15px;
    }

    /* ============================================================= */
    /* HEADER: Menu
    /* ============================================================= */

    header div nav a
    {
        font-size: 18px;
        padding: 9px 13px 9px 13px;
    }

    /* ============================================================= */
    /* FOOTER
    /* ============================================================= */

    footer div section
    {
        width: 33%;
    }
    footer div picture
    {
        width: 22%;
        text-align: right;
    }
    footer div aside
    {
        width: 44%;
    }
    footer div section p, footer div section p a, footer div aside p
    {
        font-size: 15px;
    }

    /* ============================================================= */
    /* CLASS: golden-ratio
    /* ============================================================= */

    .golden-ratio main
    {
        padding-bottom: 35px;
    }
    .golden-ratio main div aside
    {
        width: 99%;
        float: none;
    }
    .golden-ratio main div section
    {
        width: 99%;
        float: none;
    }
    .golden-ratio main div aside:after, .golden-ratio main div section:after
    {
        content: "";
        display: block;
        padding-bottom: initial;
    }
    
    .golden-ratio main div aside div h2, .golden-ratio main div section div h2,
    .golden-ratio main div aside div h3, .golden-ratio main div section div h3
    {
        padding-top: 15px;
        font-size: 19px;
    }

    .golden-ratio main div aside div nav a
    {
        color: black;
        font-size: 20px;
        padding: 12px 35px 12px 35px;
    }
    .golden-ratio main div aside div a img
    {
        width: 50%;
    }

    .golden-ratio main div section div p
    {
        font-size: 17px;
        padding: 0px 35px 0px 35px;
        line-height: 1.7;
    }
    
    .golden-ratio main div section div h1
    {
        font-size: 75px;
    }
    .golden-ratio main div section div h4
    {
        margin: 75px 0px 0px 0px;
        font-size: 50px;
    }
    .golden-ratio main div section div h5
    {
        margin: 0px 0px 75px 0px;
        font-size: 17px;
    }

    /* ============================================================= */
    /* CLASS: three-columns
    /* ============================================================= */

    .three-columns main div div
    {
        float: left;
        width: 33%;
    }
    .three-columns main div div primary
    {
        display: none;
    }
    .three-columns main div div alternate
    {
        display: initial;
    }

    .three-columns main div section
    {
        width: 63%;
        padding-bottom: 35px;
    }
    .three-columns main div section div
    {
        width: 97%;
        padding: 0px 20px 0px 20px;
    }
    .three-columns main div section div h2
    {
        font-size: 19px;
    }
    .three-columns main div section div h3
    {
        margin-top: 2px;
    }
    .three-columns main div section div h3 a
    {
        font-size: 13px;
    }
    .three-columns main div section div p
    {
        font-size: 17px;
        line-height: 1.7;
    }

    .three-columns main div aside
    {
        display: none;
    }

    /* ============================================================= */
    /* CLASS: professional
    /* ============================================================= */

    .professional main address a, .professional main address p
    {
        font-size: 18px;
        line-height: 1.7;
    }
    .professional main div:after
    {
        content: "";
        display: block;
        clear: both;
    }
    .professional main div section span
    {
        width: 100%;
        display: block;
        text-align: center;
    }
    .professional main div section span img, .professional main div section span a img
    {
        width: 35%;
        margin-bottom: 25px;
    }
    .professional main div section
    {
        width: 95%;
        display: block;
        float: none;
    }
    .professional main div div
    {
        padding: 8px 25px 0 0;
        display: table;
        float: left;
    }
    .professional main div aside
    {
        width: 90%;
        display: table;
        float: left;
    }
    .professional main div section p, .professional main div aside p
    {
        font-size: 17px;
        line-height: 1.7;
    }
    .professional main div section pre
    {
        font-size: 13px;
        padding-bottom: 35px;
    }
    .professional main div h2
    {
        font-size: 19px;
    }
    .professional main div section p.to-hide
    {
        display: none;
    }

    /* ============================================================= */
    /* CLASS: windows
    /* ============================================================= */

    .windows main h1
    {
        margin-top: 35px;
        margin-bottom: 0px;
        padding: 0;
    }
    .windows main h1 picture img
    {
        padding: 5px 0 0 5px;
        width: 25px;
        height: 25px;
    }
    .windows main h1 label
    {
        padding-left: 20px;
    }
    .windows main h1 label p
    {
        font-size: 16px;
        padding: 7px 0 7px 0;
        margin: 0;
    }
    .windows main h1 section
    {
        padding: 0;
        margin: 0;
    }
    .windows main h1 section p
    {
        font-size: 16px;
        margin: 0;
        padding: 4px 0 0 0;
        height: 23px;
        width: 56px;
    }
    .windows main h1 div
    {
        border-top-width: 4px;
        margin: 7px 20px 0 0;
        width: 12px;
        height: 6px;
    }
    .windows main h1 aside
    {
        margin: 8px 20px 0 0;
        width: 15px;
        height: 6px;
    }

    .windows main h2
    {
        padding: 5px 5px 0 5px;
    }
    .windows main h2 section
    {
        padding: 5px 0 5px 0;
    }
    .windows main h2 section p
    {
        padding-left: 20px;
        font-size: 14px;
    }

    .windows main article
    {
        padding: 0 5px 5px 5px;
    }
    .windows main article section
    {
        height: 350px;
        padding: 5px 0 5px 0;
    }
    .windows main article section p
    {
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
    }
    .windows main article section img
    {
        width: 55px;
        padding: 0px 20px 0px 20px;
    }
}

@media screen and (max-width: 767px)
{
    /* ============================================================= */
    /* GENERAL CONFIGURATION
    /* ============================================================= */

    body
    {
        margin: 0;
        padding: 0;
    }
    #wrap
    {
        width: 100%;
    }

    /* ============================================================= */
    /* HEADER: Capitulated
    /* ============================================================= */

    header section
    {
        background-size: 60%;
        background-position-x: 410px;
    }

    /* ============================================================= */
    /* HEADER: Menu
    /* ============================================================= */

    header div nav a
    {
        padding: 9px 5px 9px 5px;
    }

    /* ============================================================= */
    /* FOOTER
    /* ============================================================= */

    footer
    {
        padding: 0;
        width: 100%;
        margin: 35px 0 35px 0;
        background: black;
    }
    footer div section
    {
        width: 100%;
        display: table;
        float: none;
    }
    footer div picture
    {
        width: 100%;
        display: table;
        float: none;
        text-align: center;
    }
    footer div picture img
    {
        margin: 15px 0 0 0;
        padding: 0;
        width: 125px;
    }
    footer div aside
    {
        width: 100%;
        display: table;
        float: none;
        text-align: left;
    }
    footer div section p, footer div section p a, footer div aside p
    {
        margin: 0;
        padding: 15px 25px 0 25px;
        font-family: "OpenSans";
        font-size: 15px;
    }
    footer div section p img, footer div aside p img
    {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin: 0px 7px 0px 7px;
    }
    footer div aside p a
    {
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
    footer line img
    {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 5px;
    }
    footer div.normal-screen
    {
        display: none;
    }
    footer div.small-screen
    {
        display: initial;
    }

    /* ============================================================= */
    /* CLASS: golden-ratio
    /* ============================================================= */

    .golden-ratio main div aside div a img
    {
        width: 70%;
    }

    /* ============================================================= */
    /* CLASS: three-columns
    /* ============================================================= */

    .three-columns main div div
    {
        float: none;
        width: 100%;
    }

    .three-columns main div section
    {
        width: 97%;
    }
    .three-columns main div section div h2
    {
        font-size: 22px;
        padding-bottom: 10px;
    }
    .three-columns main div section div h3
    {
        padding-bottom: 15px;
    }
    .three-columns main div section div h3 a
    {
        font-size: 15px;
    }
}

@media screen and (max-width: 619px)
{
    /* ============================================================= */
    /* GENERAL CONFIGURATION
    /* ============================================================= */

    main div section div p svg
    {
        float: left;
        width: 70px;
        height: 70px;
        margin: 0px 15px 15px 0px;
    }

    /* ============================================================= */
    /* HEADER: Capitulated
    /* ============================================================= */

    header section
    {
        background-position-x: 1200px;
    }

    header section pre
    {
        font-size: 90px;
    }

    header section p
    {
        font-size: 45px;
        display: inline;
    }

    header section label
    {
        font-size: 45px;
        padding-left: 15px;
        display: block;
        text-align: center;
        padding-bottom: 15px;
    }

    /* ============================================================= */
    /* HEADER: Menu
    /* ============================================================= */

    header div
    {
        border-top-style: solid;
        border-top-color: white;
        border-top-width: 3px;
        padding: 5px;
        margin: 0;
    }
    
    header div nav
    {
        height: 256px;
        padding: 11px 0 0 0;
        width: 100%;
    }
    
    header div nav ul
    {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
    header div nav li
    {
        display: block;
        padding: 0;
        margin: 0;
        height: 52px;
    }
    
    header div nav a
    {
        font-size: 20px;
        padding: 12px 35px 12px 35px;
        margin: 0;
        display: block;
    }
    
    header div nav .selected
    {
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-top-style: solid;
        border-top-width: 2px;
    }

    /* ============================================================= */
    /* CLASS: golden-ratio
    /* ============================================================= */

    .golden-ratio main
    {
        padding-bottom: 35px;
    }
    .golden-ratio main div aside
    {
        width: 99%;
        float: none;
    }
    .golden-ratio main div section
    {
        width: 99%;
        float: none;
    }
    .golden-ratio main div aside:after, .golden-ratio main div section:after
    {
        content: "";
        display: block;
        padding-bottom: initial;
    }
    
    .golden-ratio main div aside div h2, .golden-ratio main div section div h2,
    .golden-ratio main div aside div h3, .golden-ratio main div section div h3
    {
        padding: 15px 25px 0px 25px;
        font-size: 19px;
    }

    .golden-ratio main div aside div nav a
    {
        color: black;
        font-size: 20px;
        padding: 12px 35px 12px 35px;
    }
    .golden-ratio main div aside div a img
    {
        width: 85%;
    }

    .golden-ratio main div section div p
    {
        font-size: 17px;
        padding: 0px 35px 0px 35px;
        line-height: 1.7;
    }
    
    .golden-ratio main div section div h1
    {
        font-size: 65px;
    }
    .golden-ratio main div section div h4
    {
        margin: 75px 0px 0px 0px;
        font-size: 44px;
    }
    .golden-ratio main div section div h5
    {
        margin: 0px 0px 75px 0px;
        font-size: 17px;
    }

    /* ============================================================= */
    /* CLASS: three-columns
    /* ============================================================= */

    .three-columns main div div
    {
        float: none;
        width: 100%;
    }
    .three-columns main div div primary
    {
        display: none;
    }
    .three-columns main div div alternate
    {
        display: initial;
    }

    .three-columns main div section
    {
        width: 95%;
        padding-bottom: 35px;
    }
    .three-columns main div section div
    {
        width: 95%;
        padding: 0px 20px 0px 20px;
    }
    .three-columns main div section div h2
    {
        font-size: 22px;
        padding-bottom: 10px;
    }
    .three-columns main div section div h3
    {
        margin-top: 2px;
        padding-bottom: 15px;
    }
    .three-columns main div section div h3 a
    {
        font-size: 15px;
    }
    .three-columns main div section div p
    {
        font-size: 17px;
        line-height: 1.7;
    }

    .three-columns main div aside
    {
        display: none;
    }

    /* ============================================================= */
    /* CLASS: professional
    /* ============================================================= */

    .professional main address a, .professional main address p
    {
        font-size: 18px;
        line-height: 1.7;
    }
    .professional main div:after
    {
        content: "";
        display: block;
        clear: both;
    }
    .professional main div section span
    {
        width: 100%;
        display: block;
        text-align: center;
    }
    .professional main div section span img, .professional main div section span a img
    {
        width: 35%;
        margin-bottom: 25px;
    }
    .professional main div section
    {
        width: 95%;
        display: block;
        float: none;
    }
    .professional main div div
    {
        padding: 8px 25px 0 0;
        display: table;
        float: left;
    }
    .professional main div aside
    {
        width: 90%;
        display: table;
        float: left;
    }
    .professional main div section p, .professional main div aside p
    {
        font-size: 17px;
        line-height: 1.7;
    }
    .professional main div section pre
    {
        font-size: 13px;
        padding-bottom: 35px;
    }
    .professional main div h2
    {
        font-size: 19px;
    }
    .professional main div section p.to-hide
    {
        display: none;
    }

    /* ============================================================= */
    /* CLASS: windows
    /* ============================================================= */

    .windows main h1
    {
        margin-top: 35px;
        margin-bottom: 0px;
        padding: 0;
    }
    .windows main h1 picture img
    {
        padding: 5px 0 0 5px;
        width: 25px;
        height: 25px;
    }
    .windows main h1 label
    {
        padding-left: 20px;
    }
    .windows main h1 label p
    {
        font-size: 16px;
        padding: 7px 0 7px 0;
        margin: 0;
    }
    .windows main h1 section
    {
        padding: 0;
        margin: 0;
    }
    .windows main h1 section p
    {
        font-size: 16px;
        margin: 0;
        padding: 4px 0 0 0;
        height: 23px;
        width: 56px;
    }
    .windows main h1 div
    {
        border-top-width: 4px;
        margin: 7px 20px 0 0;
        width: 12px;
        height: 6px;
    }
    .windows main h1 aside
    {
        margin: 8px 20px 0 0;
        width: 15px;
        height: 6px;
    }

    .windows main h2
    {
        padding: 5px 5px 0 5px;
    }
    .windows main h2 section
    {
        padding: 5px 0 5px 0;
    }
    .windows main h2 section p
    {
        padding-left: 20px;
        font-size: 14px;
    }

    .windows main article
    {
        padding: 0 5px 5px 5px;
    }
    .windows main article section
    {
        height: 350px;
        padding: 5px 0 5px 0;
    }
    .windows main article section p
    {
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
    }
    .windows main article section img
    {
        width: 55px;
        padding: 0px 20px 0px 20px;
    }
}

@media screen and (max-width: 400px)
{
    #wrap
    {
        width: 395px;
    }
    .three-columns main div section
    {
        width: 90%;
        padding-bottom: 35px;
    }
}
